p {
    text-align: justify;
    text-decoration: none;
}

body {
    font-family: Helvetica, sans-serif;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #3d3d3d;
    background-color: #E1EDF2;
    padding: 10px;
}

h2 {
    border-bottom: 2px solid #000;
}

figure {
    margin: 30px;
    padding: 15px;
    text-align: center;
    background-color: whitesmoke;
    color: lightgray;
}

figcaption {
    padding-top: 10px;
}