p {
    text-align: justify;
    text-decoration: none;
}

body {
    font-family: Helvetica, sans-serif;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.titulo {
    color: #3d3d3d;
    background-color: #E1EDF2;
    padding: 10px;
}

.subtitulo {
    color: black;
    border-bottom: 2px solid #000;
}

figure {
    margin: 30px;
    padding: 15px;
    text-align: center;
    background-color: whitesmoke;
    color: lightgray;
}

figcaption {
    padding-top: 10px;
}

#figure-matriz-musicdot {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

#figure-familia-tupfeln {
    width: 275px;
    float: right;
}

figure img {
    width: 100%;
}

form div {
    padding-top: 10px;
}
.campo-formulario {
    height: 30px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.botao-enviar {
    background-color: white;
    color: black;
    width: 100px;
    height: 50px;
    font-weight: bold;
}

.contato-subtitulo {
    display: inline;
}
.contato-info {
    margin: 16px 0 24px;
    padding-left: 32px;
}